.App {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: "margin-right 2s ease-in-out";
}
.btnLink {
  border: 1px solid #cdcdcd;
  padding: 5px;
  text-transform: uppercase;
  text-decoration: none;
  color: #767575;
  margin: 5px;
}

.linkGroupe {
  display: flex;
}
