.App {
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  max-width: 800px;
  margin: auto;
  width: 100%;
}
.btnLink {
  border: 1px solid #cdcdcd;
  padding: 5px;
  text-transform: uppercase;
  text-decoration: none;
  color: #767575;
  margin: 5px;
}

.linkGroupe {
  display: flex;
}

.container {
  padding: 20px;
  width: 100%;
}
